@import 'reset/reset';
@import 'breakpoints/_media-breakpoints';
@import 'fonts/stylesheet';

body{
  font-family: Rubik, sans-serif;
  background-color: #0F1215;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
  position: relative;
}

.main {
  flex: 1 1 auto;
}

.container {
  max-width: 1256px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}
