@import 'reset/reset';
@import 'breakpoints/media-breakpoints';
:root {
  --primary: #6979f8;
  --primary-hover: #A5AFFB;
  --second: #BE52F2;
  --second-hover: #DBA5F5;
  --success: #00C48C;
  --success-hover: #7DDFC3;
  --info: #0084F4;
  --info-hover: #66B5F8;
  --warning: #FFA26B;
  --warning-hover: #FFC7A6;
  --danger: #FF647C;
  --danger-hover: #FDAFBB;
}

body{
  font-family: Rubik, sans-serif;
  background-color: #0F1215;
  color: #f5f5f5;

}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
  position: relative;

}

.main {
  flex: 1 1 auto;
  padding: 128px 0 0;
  position: relative;
  @include media-breakpoint-down(l){
  padding-left: 114px;

  }

  @include media-breakpoint-down(md){
    padding : 0;
  }

}

.container {
  max-width: 1256px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}
